
div.container {
	width: 100%;
}

body {
	background: #ffffff;
	width: 960px;
}

header {
width: 300px
  padding: 20px;
  margin-bottom: 40px;
  color: ##4aaaa5;
  background: #4aaaa5;
  font-family: 'Georgia, Times, Times New Roman,serif;'
}
h1 {
	border: 2px solid #cccccc;
	padding: 25px;
	float: left;
}

h2 {
	float: right;
}

image {
	margin-left: 170px;
	padding: 1em;
	overflow: hidden;
}

article {
	margin-left: 170px;
	padding: 1em;
	overflow: hidden;
}
footer{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}